:root{
    --background: #6A868C;
}
body{
    display: flex;
    margin: 0%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #131313;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.image{
    display: flex;
    flex-grow: 1;
}
h1{
    padding-left: 16px;
    color: #ffffff;
    font-size: 60px;
}
.img{
    width: 100%;
}
.container{
    display: flex;
    width: 50%;
    height: 60%;
    overflow:hidden;
    border-radius: 10px;
    box-shadow: 0px 10px 10px ;
}
.login-container{
    display: flex;
    flex-direction: column;
}
.loginpanel1{
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    box-sizing: border-box;
    background-color: var(--background);
}
.loginpanel2{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: center;
    background-color: #91A8AF;
}
.loginpanel3{
    display: flex;
    background-color: var(--background);
    padding: 16px
}
label{
    display: flex;
    overflow: hidden;
    padding: 4px;
    color: #ffffff;
}
input{
    display: flex;
    overflow: hidden;
    padding: 4px;
}
input[required] {
    border: 2px solid red;

}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: start;
    align-content: center;
    box-sizing: border-box;
    padding: 4px;
}
li{
    display: flex;
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
    padding: 4px;
}
button{
    height: 60px;
    width: 120px;
    border-radius: 30px;
    border-style: none;
    background-color: #77B5C4;
    color: #ffffff;
    font-size: large;
    font-weight: bolder;
}
@media only screen and (max-width:1170px){
    .container{
        display: flex;
        width: 60%;
        flex-direction: column;
        overflow: visible;
    }
    .login-container{
        width: 100%;
    }
    img{
        width: 100%;
    }
    
}